# Large data files and datasets
data.csv
*.csv

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
backend/__pycache__/
backend/models/__pycache__/
backend/utils/__pycache__/

# Environments
venv/
.venv/
env/

# IDE and Editor settings
.vscode/
.idea/
pyrightconfig.json

# OS metadata
.DS_Store
Thumbs.db
.vercel
